<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIMPONI | Sistem Monitoring Proses dan Manajemen Operasi</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>SIMPONI (Sistem Monitoring Proses dan Manajemen Operasi)</h1>
    <a href="/ssl-status">cek ssl</a>
    <form action="/deploy-all" method="POST">
        <button type="submit" style="background-color: green; color: white; margin-bottom: 10px;">Deploy All</button>
    </form>
    
    <div id="deployLogs" style="border: 1px solid #ccc; padding: 10px; height: 200px; overflow-y: auto;">
        <p>Deploy logs will appear here...</p>
    </div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Uptime</th>
                <th>Restart</th>
                <th>Deploy</th>
                <th>Log</th>
            </tr>
        </thead>
        <tbody>
            <% processList.forEach(process => { %>
                <tr>
                    <td><%= process.name %></td>
                    <td><%= process.pm2_env.status %></td>
                    <td><%= process.formatted_uptime %></td>
                    <td>
                        <% if (process.pm2_env.status === 'online') { %>
                            <form action="/restart/<%= process.pm_id %>" method="POST" style="display:inline;">
                                <button type="submit">Restart</button>
                            </form>
                          	<form action="/stop/<%= process.pm_id %>" method="POST" style="display:inline;">
                                <button type="submit" style="background-color: red; color: white;">Stop</button>
                            </form>
                        <% } else { %>
                            <form action="/restart/<%= process.pm_id %>" method="POST" style="display:inline;">
                                <button type="submit">Restart</button>
                            </form>
                        <% } %>
                    </td>
                    <td>
                        <form action="/deploy/<%= process.name %>" method="POST" style="display:inline;">
                            <button type="submit" style="background-color: blue; color: white;">Deploy</button>
                        </form>
                    </td>
                    <td>
                        <pre><%= deployLogs[process.name] ? deployLogs[process.name] : 'No logs yet' %></pre>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <br>
    <a href="/logout">Logout</a>
</body>
</html>

<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();

    socket.on('deploy-status', function(data) {
        var logElement = document.getElementById('deployLogs');
        logElement.innerHTML += `<p>${data.appName ? data.appName + ": " : ""}${data.message}</p>`;
        logElement.scrollTop = logElement.scrollHeight;
    });
</script>
